/* TODO Add site wide styles */
*{
    margin: 0;
    padding: 0;
}

.div-background-img{
    /* Need to change url to something I uploaded to prevent broken images */
    background-image: url("https://images.unsplash.com/photo-1595859060979-934b7b917d02?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    height: 100vh;
    width: 100vw;
}


.errors{
    color: #D1643B;
}
